<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=".mapper.DefaultChecklistMapper">

    <!--查询单个-->
    <select id="queryById" resultType=".entity.DefaultChecklist">
        select *
        from default_checklist
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryByLimit" resultType=".entity.DefaultChecklist">
        select *
        from default_checklist
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="cusId != null">
                and Cus_id = #{cusId}
            </if>
            <if test="defId != null">
                and Def_id = #{defId}
            </if>
            <if test="severity != null">
                and Severity = #{severity}
            </if>
            <if test="certifier != null">
                and Certifier = #{certifier}
            </if>
            <if test="deterAppliTime != null">
                and Deter_appli_time = #{deterAppliTime}
            </if>
            <if test="exteriorRate != null and exteriorRate != ''">
                and Exterior_rate = #{exteriorRate}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into default_checklist(Cus_idDef_idSeverityCertifierDeter_appli_timeExterior_rateremarkstatus)
        values (#{cusId}#{defId}#{severity}#{certifier}#{deterAppliTime}#{exteriorRate}#{remark}#{status})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into default_checklist(Cus_idDef_idSeverityCertifierDeter_appli_timeExterior_rateremarkstatus)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.cusId}#{entity.defId}#{entity.severity}#{entity.certifier}#{entity.deterAppliTime}#{entity.exteriorRate}#{entity.remark}#{entity.status})
        </foreach>
    </insert>

    <insert id="UpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into default_checklist(Cus_idDef_idSeverityCertifierDeter_appli_timeExterior_rateremarkstatus)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.cusId}#{entity.defId}#{entity.severity}#{entity.certifier}#{entity.deterAppliTime}#{entity.exteriorRate}#{entity.remark}#{entity.status})
        </foreach>
        on duplicate key update
Cus_id = values(Cus_id)Def_id = values(Def_id)Severity = values(Severity)Certifier = values(Certifier)Deter_appli_time = values(Deter_appli_time)Exterior_rate = values(Exterior_rate)remark = values(remark)status = values(status)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update default_checklist
        <set>
            <if test="cusId != null">
                Cus_id = #{cusId},
            </if>
            <if test="defId != null">
                Def_id = #{defId},
            </if>
            <if test="severity != null">
                Severity = #{severity},
            </if>
            <if test="certifier != null">
                Certifier = #{certifier},
            </if>
            <if test="deterAppliTime != null">
                Deter_appli_time = #{deterAppliTime},
            </if>
            <if test="exteriorRate != null and exteriorRate != ''">
                Exterior_rate = #{exteriorRate},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from default_checklist where id = #{id}
    </delete>

</mapper>

