<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=".mapper.DefTableMapper">

    <!--查询单个-->
    <select id="queryById" resultType=".entity.DefTable">
        select *
        from def_table
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryByLimit" resultType=".entity.DefTable">
        select *
        from def_table
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="defReason != null and defReason != ''">
                and def_reason = #{defReason}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into def_table(def_reasonenabled)
        values (#{defReason}#{enabled})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into def_table(def_reasonenabled)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.defReason}#{entity.enabled})
        </foreach>
    </insert>

    <insert id="UpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into def_table(def_reasonenabled)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.defReason}#{entity.enabled})
        </foreach>
        on duplicate key update
def_reason = values(def_reason)enabled = values(enabled)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update def_table
        <set>
            <if test="defReason != null and defReason != ''">
                def_reason = #{defReason},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from def_table where id = #{id}
    </delete>

</mapper>

